.navigation {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  height: 13vh;
}

.hamburger {
  margin-left: auto;
}

.desktopNavigation {
  display: none;
}

.line {
  display: none;
  font-weight: 400;
}

.NavLinkContainer {
   margin: 0 2rem;
   position: relative;
}

.link::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  background-color: var(--white);
  opacity: 0.5;
  bottom: 0;
}

.activeLink::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--white);
  bottom: 0;
  opacity: 1;
  transition: width .5s;
}

.NavLinkContainer:hover .link::after{
  width: 100%;
  transition: width .5s;
}

@media screen and (min-width: 768px) {
  .navigation {
    padding: 0;
    padding-left: 2rem;
    height: 13vh;
  }

  .hamburger {
    display: none;
  }

  .desktopNavigation {
    margin-left: auto;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    display: flex;
    position: relative;
  }

  .desktopNavigation a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    font-family: var(--barlow-font);
    letter-spacing: 2px;
    color: var(--white);
    text-decoration: none;
  }
  
}

@media screen and (min-width: 1200px) {
  .navigation {
    /* transform: translateY(1.5rem); */
    margin-top: 1.5rem;
  }
  .home {
    margin-right: 3vw;
  }

  .desktopNavigation {
    backdrop-filter: blur(10px);
  }


  .link:nth-child(1)::before {
    content: "01";
    margin-right: 0.5rem;
    font-weight: 700;
  }
  .link:nth-child(2)::before {
    content: "02";
    margin-right: 0.5rem;
    font-weight: 700;
  }
  .link:nth-child(3)::before {
    content: "03";
    margin-right: 0.5rem;
    font-weight: 700;
  }
  .link:nth-child(4)::before {
    content: "04";
    margin-right: 0.5rem;
    font-weight: 700;
  }

  .line {
    display: block;
    height: 1px;
    width: 50px;
    background-color: white;
    opacity: 0.3;
    width: 100%;
    z-index: 222;
    position: relative;
    transform: translateX(1rem);
  }
}
