body {
  background: url("../../assets/destination-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.destinationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

.title {
  text-align: center;
  font-size: 1rem;
  font-family: var(--barlow-font);
  letter-spacing: 2.7px;
  font-weight: 400;
  color: var(--white);
  word-spacing: 2px;
  margin-bottom: 2rem;
}

.title::before {
  content: "01";
  margin-right: 1rem;
  opacity: 0.5;
  letter-spacing: 2.7px;
  font-weight: 700;
}

.destinationMain {
  text-align: center;
}

.destnationDetailBox {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .destinationContainer {
    padding: 3rem 2rem;
  }
  .title {
    width: 100%;
    text-align: left;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .destinationContainer {
    margin-left: 7rem;
    padding: 0;
    align-items: normal;
  }

  .destinationContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .destinationMain {
    text-align: left;
  }
}
