:root {
  --small-letter: #d0d6f9;
  --barlow-font: "Barlow Condensed", sans-serif;
  --bellefair-font: "Bellefair", serif;
  --white: #ffffff;
  --cirlce-text: #0b0d17;
  --main-barlow: 'Barlow', sans-serif;
}